body {
    margin: 0;
}

.Filtro {
    margin-left: 10vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-right: 3vw;
    font-family: 'Barlow';
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px #000000;
    width: 20vw;
}

.BotaoFiltro {
    background-color: #002555;
    border: none;
    border-radius: 5px;
    height: 2.5em;
    color: white;
    font-weight: 800;
    width: 10em;
    }

.BotaoFiltro:active{
    transform: scale(0.94);
    transition: transform 0.2s ease;
}

.BotaoFiltro:hover{
    background-color: #061c38;
}

.IntroducaoHomePage{
    display: flex;
    margin-left: 10em;
}

.VideoIbmecHome{
    padding-top: 30.150px;
}

.ConteudoTextosHome{
    display: block;
    margin-left: 3em;
}

.SubTituloProjetosHome{
    text-align: center;
    padding-top: 15px;
}

.ContainerCardProjetos {
    margin-right: 10em;
}


.ProjetoAlunosHome{
    margin-left: 10em;
    padding-top: 10px;
    padding-bottom: 120px;
}

