@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

input[type=text].section-readonly-input {
    outline: none !important;
    border-width: 0px !important;
    border: none !important;
    &:hover {
      outline: none !important;
      border-width: 0px !important;
      border: none !important;
    }
    &:focus {
      outline: none !important;
      border-width: 0px !important;
      border: none !important;
    }
  }

.ContainerCard {
    display: flex;
    gap: .8em;
    margin-top: .8em;
    justify-content: center;
    flex-flow: column;
    align-items: center
}

@media screen and (min-width: 1024px){
    .ContainerCard{
        flex-flow: row;
    }
}