@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

input[type=text].section-readonly-input {
    outline: none !important;
    border-width: 0px !important;
    border: none !important;
    
    &:hover {
      outline: none !important;
      border-width: 0px !important;
      border: none !important;
    }
    &:focus {
      outline: none !important;
      border-width: 0px !important;
      border: none !important;
    }
  }

.ContainerCardProjetos{
  display: flex;
  gap: .8em;
  margin-top: .8em;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding-bottom: 2em;
}

.ContainerCardAlunos{
  display: flex;
  gap: .8em;
  margin-top: .8em;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-top: 0.8em;
  padding-bottom: 6.25em;
}

.ConteudoContato{
  display:flex;
}

@media screen and (min-width: 1024px){
    .ContainerCardProjetos{
      flex-flow: row;
    }
    .ContainerCardAlunos{
      flex-flow: row;
    }
    
}

@media screen and (max-width: 600px) {
  .ConteudoContato > img{
    object-fit: cover;
    height: 20vh;
    width: 70vw;
    margin-left: 12vw;
  }
  .ConteudoContato{
    display: block;
  }

  .ConteudoContato > div {
    margin-left: 15vw;
  }
  .ConteudoContato input {
    width: 60vw;
  }

}

.TituloSobre {
  margin: 2em;
  text-align: center;
  font-family: 'Barlow';
}

.InfoSobre {
  font-size: 1.3em;
  margin-top: 2em;
  text-align: center;
  font-family: 'Barlow';
}

.AlinhamentoBtnSobre {
  text-align: center;
}

#DocumentacaoBtn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #002555;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 2em;
}

#DocumentacaoBtn:hover {
  background-color: #F5AC0D;
  box-shadow: 0px 15px 20px #997323;
  color: #000;
  transform: translateY(-7px);
}

#DocumentacaoBtn:active {
  transform: translateY(-1px);
}