@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

.ContainerCard {
    display: flex;
    gap: .8em;
    margin-top: .8em;
    justify-content: center;
    flex-flow: column;
    align-items: center
}

@media screen and (min-width: 1024px){
    .ContainerCard{
        flex-flow: row;
    }
}